
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Sobre Mim</h2>
    <p>Olá, sou Diogo Santoro, um desenvolvedor apaixonado por tecnologia com experiência em diversas áreas do desenvolvimento de software. Tenho um forte conhecimento em Python, Flask e diversas outras tecnologias de desenvolvimento web e backend.</p>
    
    <p>Minha formação inclui uma sólida base em ciência da computação, com experiência prática adquirida em projetos desafiadores e inovadores. Além disso, tenho trabalhado em ambientes colaborativos e dinâmicos, onde a resolução criativa de problemas é a chave para o sucesso.</p>

    <p>Aqui estão alguns detalhes adicionais sobre minha carreira:</p>
    <ul>
        <li><strong>Experiência:</strong> Trabalhei em projetos significativos que envolveram desenvolvimento full-stack, com foco em criar soluções eficientes e escaláveis.</li>
        <li><strong>Educação:</strong> Formação em Ciência da Computação, com várias especializações e cursos complementares.</li>
        <li><strong>Habilidades:</strong> Desenvolvimento web com Python e Flask, design de interfaces, integração de APIs e muito mais.</li>
    </ul>

    <p>Você pode encontrar mais informações sobre minha experiência profissional e minhas habilidades no meu perfil do LinkedIn:</p>
    <a href="https://www.linkedin.com/in/diogo-santoro/" target="_blank" class="btn btn-primary">Visite meu LinkedIn</a>
</div>
{% endblock %}
                